%button {
  border: 1px solid #1976d2;

  &:hover {
    animation: button-bg-color 1s forwards;
  }

  @keyframes button-bg-color {

    to {
      background-color: #1976d2;
      color: white;
      box-shadow: 1px 1px 15px #1976d2;
    }

  }
}


.home__main {
  h1 {
    margin: 30px 0;
  }

  

  table {


    button {
      border: none;
      padding: 5px 10px;
      height: 100%;

      &:hover {
        transform: scale(1.1);
      }
    }

    th {
      padding: 5px;

      font-size: 18px;

      &:hover {
        scale: (1.1);
      }
    }

    td {
      padding: 5px;
      font-size: 16px;
    }

    .css-i4bv87-MuiSvgIcon-root {
      height: 0.9rem;
      margin-right: 0.3rem;
    }
.table__red{
  &:active{
    transform: scale(0.9);
  }
}
.table__green{
  &:active{
    transform: scale(0.9);
  }
}
    tbody tr:nth-child(2n-1) {
      background-color: #e8e8e8;

      .table__red {

        background: linear-gradient(90deg, #e8e8e8 0%, rgb(255, 169, 169) 25%, rgb(255, 0, 0) 50%, rgba(255, 169, 169) 75%, #e8e8e8 100%);
      }

      .table__green {
        background: linear-gradient(90deg, #e8e8e8 0%, rgb(138, 255, 120) 25%, rgb(33, 249, 0) 50%, rgb(138, 255, 120) 75%, #e8e8e8 100%);
      }
    }

    tbody tr:nth-child(2n) {
      background-color: #abaaaa;

      .table__red {
        background: linear-gradient(90deg, #abaaaa 0%, rgb(255, 169, 169) 25%, rgb(255, 0, 0) 50%, rgba(255, 169, 169) 75%, #abaaaa 100%);
      }

      .table__green {
        background: linear-gradient(90deg, #abaaaa 0%, rgb(138, 255, 120) 25%, rgb(33, 249, 0) 50%, rgb(138, 255, 120) 75%, #abaaaa 100%);
      }
    }

    //material ui
    .css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
      @extend %button
    }

    .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
      @extend %button
    }
  }
}
