@use "../root/color.scss";
@import "../root/method.scss";
.add {
  @extend %flex;
  width: 100dvw;

  .radio {
    display: flex;
    gap: 10px;

    div {
      width: max-content;

      label {
        padding: 5px;
      }
    }
  }

  form {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    div {
      width: 100%;
    }

    input[type="text"],
    textarea {
      width: 100%;
      padding: 5px 10px;
    }

    textarea {
      height: 40dvh;
    }

    input[type="submit"] {
      background-color: color.$button-color;
      width: max-content;
      color: white;
      padding: 5px 20px;
      border-radius: 15px;
      border: none;
      &:active {
        background-color: rgb(77, 77, 104);
        transform: scale(0.9);
      }
    }
  }
}
