@use "../stylecomponents//color.scss";
@import "../stylecomponents//method.scss";

.add {
  @extend %flex;
  width: 100dvw;

  .form__radio {
    margin: 10px 0;
  }

  .radio {
    display: flex;
    gap: 10px;

    div {
      width: max-content;

      label {
        padding: 5px;
      }
    }
  }

  form {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    div {
      width: 100%;
    }

    input[type="text"],
    textarea {
      width: 100%;
      padding: 5px 10px;
    }

    textarea {
      height: 40dvh;
    }
  }
}
