@import "../root/method.scss";

.main__div {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    @extend %flex;
    background-color: rgba(0, 0, 0, 0.759);

    & > div {
        width: 70%;
        margin: 15px;
        background-color: white;
        padding: 10px;
        border-radius: 15px;
    }

    height: 100dvh;

    .edit__header {
        @extend %flex;

        button {
            padding: 10px;
            font-size: 20px;
        }
    }
}

.edit {
    @extend %flex;
    width: 100%;

    .radio {
        display: flex;
        gap: 10px;

        div {
            width: max-content;

            label {
                padding: 5px;
            }
        }
    }

    ///addi mejic export enel
    form {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;

        div {
            width: 100%;
        }

        input[type="text"],
        textarea {
            width: 100%;
            padding: 5px 10px;
        }

        textarea {
            height: 40dvh;
        }

        input[type="submit"] {
            background-color: blue;
            width: max-content;
            color: white;
            padding: 5px 20px;
            border-radius: 15px;
            border: none;

            &:active {
                background-color: rgb(77, 77, 104);
                transform: scale(0.9);
            }
        }
    }
}
