@use "../stylecomponents/color.scss";
@import "../stylecomponents//method.scss";

.home__main {
  @extend %flex;
  flex-direction: column;
  min-width: 100%;
  border: none;
}


.home__main__div {
  word-break: break-all;
  width: 60%;

  .status {
    margin: 0 10px 0 5px;
  }

  .todo {
    box-shadow: 0px 0px 10px rgb(218, 211, 211) inset;
    margin: 15px 0;
    padding: 10px;
    border: 2px solid rgb(218, 211, 211);
    border-radius: 15px;
    min-width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;

    .button {
      display: flex;
      gap: 10px;
    }

    .text {
      flex-grow: 1;
    }

    p {
      color: rgb(102, 102, 102);
    }
  }
}



.MuiPagination-root {
  @extend %flex;
}

@media screen and (max-width: 800px) {
  table {
    max-width: 500px !important;
  }
}

@media screen and (max-width:960px) {
  .home__main__div {
    width: 70%;
  }
}
@media screen and (max-width:800px) {
  .home__main__div {
    width: 85%;
  }
}
@media screen and (max-width:700px) {
  .home__main__div {
    width: 85%;
  }
  .todo{
    .button{
      flex-direction: column;
    }
  }
}
@media screen and (max-width:540px) {
  .home__main__div {
    width: 85%;
  }
  .todo{
    .button{
      flex-direction: column;
    }
  }
}