@use "../stylecomponents/color.scss";
@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Gilda+Display&display=swap");

body {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    font-style: normal;

}

button,
input,
div,
span,
img,
video {
    &:disabled {
        cursor: not-allowed !important;
    }
}

th,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-family: "Gilda Display", serif !important;
}

td,
tr,
th,
h1,
h2,
h3,
h4,
h5,
h6 {
    white-space: normal !important;
    word-wrap: break-word !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 30px 0;
}

table,
tr,
th,
td {
    border: 1px solid rgb(187, 187, 187) !important;

    button {
        word-break: normal;
    }

    word-break: break-all;
}

table {
    min-width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: color.$main-color;
}

button,
label {
    cursor: pointer;
}

.warning {
    color: color.$waring;
}