.task__main {
    div {
        padding: 30px;
        span {
            font-size: 25px;
            margin-bottom: 30px;
            display: block;
            text-align: center;
        }
        p {
            font-size: 1.5rem;
        }
    }
    h1 {
        text-align: center;
    }
}
